<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">会員情報編集</span></h3>
  </div>

  <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
    <form>
      <div class="form-group row">
        <%= f.label :名前, class:"col-sm-3 col-form-label" %>
          <div class="col-md-3">
           <%= f.text_field :family_name, autofocus: true, placeholder:"令和", class:"form-control" %>
          </div>
          <div class="col-md-3">
           <%= f.text_field :first_name, placeholder: "道子", class:"form-control" %>
          </div>
      </div>

      <div class="form-group row">
        <%= f.label :フリガナ, class:"col-sm-3 col-form-label" %>
         <div class="col-md-3">
          <%= f.text_field :family_name_kana, placeholder:"レイワ", class:"form-control" %>
         </div>
         <div class="col-md-3">
          <%= f.text_field :first_name_kana, placeholder:"ミチコ", class:"form-control" %>
         </div>
      </div>

      <div class="form-group row">
        <%= f.label :郵便番号（ハイフンなし）, class:"col-sm-3 col-form-label" %>
        <div class="col-md-3">
         <%= f.text_field :postal_code, autocomplete: "postal_code", placeholder:"0000000", class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :住所, class:"col-sm-3 col-form-label" %>
        <div class="col-md-6">
         <%= f.text_field :address, autocomplete: "address", placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :電話番号（ハイフンなし）, class:"col-sm-3 col-form-label" %>
        <div class="col-md-3">
         <%= f.text_field :telephone, autocomplete: "telephone", placeholder:"0000000000", class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :メールアドレス, class:"col-sm-3 col-form-label" %>
        <div class="col-md-3">
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", class:"form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-3">
          <%= f.submit "変更内容を保存", class:"btn btn-success btn-block btn-sm" %>
        </div>
        <div class="col-md-2 offset-2">
          <%= link_to "退会する", customers_unsubscribe_path,data: {confirm: "退会しますか？"}, class:"btn btn-danger btn-block btn-sm"%>
        </div>
      </div>
   </form>
 <% end %>
</div>