<div class="container">
  <h3 class="p-4">
    <span style="background-color: #EEEEEE">管理者ログイン</span>
  </h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form>
      <div class="form-group row offset-1">
        <%= f.label :メールアドレス, class:"col-sm-4 col-form-label" %>
        <div class="col-md-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", class:"form-control" %>
        </div>
      </div>
      <div class="form-group row offset-1">
        <%= f.label :パスワード, class:"col-sm-4 col-form-label" %>
        <div class="col-md-5">
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>
      </div>

      <div class="col-md-3 offset-5">
        <%= f.submit "ログイン", class:"btn btn-primary btn-lg" %>
      </div>
    </form>
  <% end %>
</div>


