<div class="container">
  <div class="row">
    <div class="col-4 p-3">
     <h3><span class="header">ショッピングカート</span></h3>
    </div>
    <div class="col-3 p-4 offset-5">
     <% if current_customer.cart_items.present? %>
       <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class:"btn btn-danger btn-sm" %>
     <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% if current_customer.cart_items.present? %>
      <table>
        <thead>
          <tr class="table-active">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td class="cart-items-td">
             <%= attachment_image_tag cart_item.item, :image, format:'jpg', size:'60x60' %>
             <%= cart_item.item.name %>
            </td>
            <td class="cart-items-td">¥<%= cart_item.item.with_tax_price %></td>
            <td class="cart-items-td">
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local:true do |f| %>
               <%= f.select :quantity, *[1..10] %>
               <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td class="cart-items-td">¥<%= cart_item.subtotal %></td>
            <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger btn-sm" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <div class="row">
      <div class="col-4 pt-5 offset-1">
       <%= link_to "買い物を続ける", root_path, class:"btn btn-primary btn-lg" %>
      </div>
      <div class="col-3 offset-4 p-3">
        <table>
          <tbody>
            <tr>
              <td class="cart-items-td p-1">合計金額</td>
              <td>¥<%= @total %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-5 offset-5">
        <%= link_to "情報入力に進む", new_order_path, class:"btn btn-success btn-lg" %>
      </div>
    </div>
      <% else %>
        <div class="row">
          <div class="col-12 pt-5 offset-4">
            <h2>カートに商品はありません</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-4 pt-5 offset-5">
           <%= link_to "買い物を続ける", root_path, class:"btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
