<div class="container">
    <h4 class="p-4">
      <span style="background-color: #EEEEEE">注文情報入力</span>
    </h4>
      <div>
        <%= form_with model:@order, url:orders_confirm_path, method: :post, local: true do |f| %>
          <h5>支払方法</h5>
          <div class="form-group row">
            <div class="col-md-6 offset-1">
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
            </div>
          </div>
          <h5>お届け先</h5>
          <div class="form-group row">
            <div class="col-md-10 offset-1">
              <%= f.radio_button :select_address, "0" %>
              <%= f.label :select_address, "ご自身の住所" %><br>
              <%= "#{current_customer.postal_code} #{current_customer.address}" %><br>
              <%= "#{current_customer.family_name} #{current_customer.first_name}" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-10 offset-1">
              <%= f.radio_button :select_address, "1" %>
              <%= f.label :select_address, "登録先住所から洗濯" %>
              <%= f.select :deliveries_id, options_from_collection_for_select(Delivery.all, :id, :address_display) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 offset-1">
              <%= f.radio_button :select_address, "2" %>
              <%= f.label :select_address, "新しいお届け先" %>
              
            </div>
          </div>
        <% end %>
      </div>
</div>
