<%= search_form_for @q, url: search_items_path do |f|%>
  <%= f.label :name_cont, "商品名" %>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索"%>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-3 my-4">
      <div class="card">
        <div class="card-header">
          ジャンル検索
        </div>
        <div class="card-body">
          <% @genre.each do |genre| %>
           <p class="card-text"><%= genre.name%></p>
          <% end %>
        </div>
      </div>
    </div>
  <div class="col-9">
    <div>
      <h1 class="my-3"><strong>商品一覧</strong><span class="count">（全<%= @items.count %>件）</span></h1>
    </div>
    <div class="item-lists">
     <% @items.shuffle.first(8).each do |item| %>
      <div class="card mr-4 mb-4" style="width: 10rem;">
        <%= link_to item_path(item) do %>
         <%= attachment_image_tag item, :image, format: "jpg", size:'158x158', class: "card-image-top"%>
        <% end %>
        <div class="card-body">
         <p class="card-text text-truncate"><%= item.name %></p>
         <p class="card-text">¥<%= item.price %></p>
        </div>
      </div>
     <% end %>
    </div>
  </div>
 </div>
</div>
<div class="row">
  <div class="item-lists-paginate">
   <%= paginate @items %>
  </div>
</div>