<%= search_form_for @q, url: search_items_path do |f|%>
  <%= f.label :name_cont, "商品名" %>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索"%>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="card">
        <div class="card-header">
          ジャンル検索
        </div>
        <div class="card-body">
          <% @genre.each do |genre| %>
           <p class="card-text"><%= genre.name%></p>
          <% end %>
        </div>
      </div>
    </div>
  <div class="col-8">
    <div>
      <h1 class="my-3">商品一覧<span class="count">（全<%= @items.count %>件）</span></h1>
    </div>
    <% @items.each do |item| %>
    <div class="col-8 d-flex justify-content-between recomend_items">
      <div class="card" style="width: 10rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
        <div class="card-body">
          <p><%= attachment_image_tag item, :image, format:'jpg', size:'245x245' %></p>
          <p class="card-text"><%= item.name %></p>
          <p class="card-text"><%= item.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
 </div>
</div>
<%= paginate @items %>