  <li class="mx-5 mt-5">ようこそ、<%= current_customer.family_name %>さん！</li>
  <li>
    <%= link_to "マイページ", customers_my_page_path,class: "btn btn-outline-secondary nav-link mx-2 text-dark"  %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path,class: "btn btn-outline-secondary nav-link mx-2 text-dark"  %>
  </li>
  <li>
    <%= link_to "カート", cart_items_path,class: "btn btn-outline-secondary nav-link mx-2 text-dark"  %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary nav-link mx-2 text-dark" %>
  </li>