<%= link_to "NaganoCake", homes_top_path,class:"navbar-brand" %>
<div class="collapse navbar-collapse">
  <ul class="navbar-nav ml-auto">
    <li class="btn btn-outline-secondary nav-link">
      <%= link_to "About", homes_about_path,class: "text-dark"  %>
    </li>
    <li class="btn btn-outline-secondary nav-link mx-5">
      <%= link_to "商品一覧", items_path,class: "text-dark"  %>
    </li>
    <li class="btn btn-outline-secondary nav-link mr-5">
      <%= link_to "新規登録", new_customer_registration_path,class: "text-dark"  %>
    </li>
    <li class="btn btn-outline-secondary nav-link">
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "text-dark"  %>
    </li>
  </ul>
</div>
